
/*Home Intro*/

.row.fw-row .v-box-wrap .v-box-inner {
    padding: 12%;
}

.row.fw-row .v-box-wrap .v-box-inner.no-padding {
    padding: 0%;
}

.row.fw-row .v-box-wrap .col-sm-6 {
    padding-left: 0px;
    padding-right: 0px;
}

/*End Home Intro*/


.ui-widget-content a {
    color: #333333;
}

.ui-widget-content a:hover {
    color: #1dc6df;
}

    /*Custom Size*/
@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}
@media only screen and (min-width: 1250px) {
    body.boxed-layout {
        width: 1140px;
    }

        body.boxed-layout header {
            max-width: 1140px;
        }
	
}

.v-container{
    padding-top:70px !important;
    padding-bottom:70px !important;
}

.v-container-2x{
    padding-top:100px !important;
    padding-bottom:100px !important;
}
@font-face {
    font-family: 'iranSans';
    
     src: url("font/IRANSans-web.eot");
    src: url("font/IRANSans-web.eot") format('embedded-opentype'),
         url("font/IRANSans-web.woff") format('woff'),
         url("font/IRANSans-web.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;

}
.fontWEB{font-family: 'iranSans' !important;}

.box1{width: 600px !important;}

.FontNormal {font-style: normal !important;}

.FontBold {font-weight: bold !important;}

.StyleFlotLeft{float: left !important;}
.StyleFlotRight{float: right !important;}

/* font colors */
.gray{color:#5A5A5A;}
.softgray{color:#909090;}
.yellow{color:#FFD100;}
.white{ color:#ffffff;}
.red{color:#e90c45;}
.orange{color:#F15A29;}
.softblue{color:#C1E1F4;}
.hardblue{color:#27AAE1;}
.leaden{color:#72828B;}


/* Font Sizes */
.Fs9{font-size:9px !important;} 
.Fs10{font-size:10px !important;} 
.Fs11{font-size:11px !important;} 
.Fs12{font-size:12px !important;} 
.Fs13{font-size:13px !important;} 
.Fs14{font-size:14px !important;} 
.Fs15{font-size:15px !important;} 
.Fs16{font-size:16px !important;} 
.Fs17{font-size:17px !important;} 
.Fs18{font-size:18px !important;} 
.Fs19{font-size:19px !important;} 
.Fs20{font-size:20px !important;} 
.Fs21{font-size:21px !important;} 
.Fs22{font-size:22px !important;} 
.Fs23{font-size:23px !important;} 
.Fs24{font-size:24px !important;} 
.Fs25{font-size:25px !important;} 
.Fs26{font-size:26px !important;} 
.Fs27{font-size:27px !important;} 
.Fs28{font-size:28px !important;} 
.Fs29{font-size:29px !important;} 
.Fs30{font-size:30px !important;}
.Fs40{font-size:40px !important;}
.Fs50{font-size:50px !important;}
.Fs60{font-size:60px !important;}
.Fs100{font-size:100px !important;}
.Fs130{font-size:130px !important;}

h4 {font-family: 'iranSans' !important;}


p {
    white-space: pre-line !important;
}
.preline{ white-space: pre-line !important; }

tr:nth-child(even) {background: #f4f3f3;font-size: 11px}
tr:nth-child(odd) {font-size: 11px}
.backColor{
    background-color: #3CB371;
}



